
h3{
    text-transform: uppercase;

    font-size: 25px;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;

    width: 1rem;

    border-bottom: solid 8px navajowhite;
    padding-bottom: 15px;

}

img{
    float: left;
    width: 30%;
    margin: 1.66667%;
    height: 680px;
}

p{
    float: left;
    width: 30%;
    margin: 1.66667%;
    text-align: center;
}

header{
    background-color: #b4b4b44d;;
}

nav>ul>li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}

nav>ul>li>a{
    text-decoration: none;
}

nav>ul>li:hover{
    background-color: yellow;
}